.animalDetailsContainer {
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: fixed;
  //top: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

  @include tablet {
    width: 63%;
  }

  @include tablet-step1 {
    width: 50%;
  }

  @include tablet-up {
    height: 95%;
  }

  .closeButton {
    width: 100%;
    text-align: right;
    padding-top: 7px;
    padding-right: 10px;

    .bi {
      cursor: pointer;
      font-size: 16pt;
    }
  }

  .detailsInfoContainer {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 10pt;

    .centerText {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        margin: 6px;
        font-size: 13pt;
      }
    }
  }

  .feedButton {
    margin: 10px;
    cursor: pointer;
    text-align: center;
    width: 90px;
    height: 20px;
    border: 2px solid $darkGreen;
    border-radius: 10px;
  }
}
